*.dll
*.cache
*.mdf
*.ldf
*.exe
*.ldf
*.pdb
*.txt
*.dll
ScarIntelFinal/ScarIntel/SarcIntelService/App_Data/BacIntel.mdf
*.ldf
ScarIntelFinal/ScarIntel/SarcIntelService/App_Data/BacIntel.mdf
*.bmp
*.ini
*.xml