<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ServerService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:8080/Server.svc/Broker"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ServerService"
        contract="BrokerService.ServerService" name="WSHttpBinding_ServerService" />
    </client>
  </system.serviceModel>
</configuration>