<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  
  <connectionStrings>
    <add connectionString="Server=.\SQLEXPRESS;Database=BacIntel;Integrated Security=true" name="SqlConn" providerName="System.Web.Security.SqlRoleProvider" />
    <add connectionString="Integrated Security=true;Integrated Security=true;AttachDBFilename=|DataDirectory|BacIntel.mdf;Initial Catalog=BacIntel;" name="SqlConn1" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>

    
    
    <bindings>
      <wsHttpBinding>
        <binding name="WsHttpBinding">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="SarcServiceBehavior" name="SarcIntelService.Server">
        <endpoint address="Broker" 
                  binding="wsHttpBinding" 
                  bindingConfiguration="WsHttpBinding" 
                  contract="SarcIntelService.IServer" 
                  />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SarcServiceBehavior">
          <serviceMetadata httpGetEnabled="true"  httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          
          <serviceCredentials>
            <serviceCertificate findValue="CN=localhost" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
               customUserNamePasswordValidatorType="SarcIntelService.UserNamePassValidator,SarcIntelService"/> 
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
   
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
  </system.webServer>

</configuration>
